openapi: 3.0.0
info:
  title: API Documentation
  version: 1.0.0
  description: Documentation de l'API avec authentification JWT
  contact:
    name: Lilian Deceuninck--Cappelaere
    email: deceuninck.lilian1@gmail.com

servers:
  - url: http://localhost:3001
    description: Serveur de développement
  - url: à définir
    description: Serveur de production

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Token JWT à obtenir via /auth/login"

  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "red"
        email:
          type: string
          format: email
          example: "red@example.com"
        password:
          type: string
          format: password
          example: "password123"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        decks:
          type: integer[]
          example: [1, 4, 7, 25, 2, 5, 8, 26, 3, 6]

    Card:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Bulbasaur
        hp:
          type: integer
          example: 45
        attack:
          type: integer
          example: 49
        type:
          type: PokemonType
          enum: [Normal, Fire, Water, Electric, Grass, Ice, Fighting, Poison, Ground, Flying, Psychic, Bug, Rock, Ghost, Dragon, Dark, Steel, Fairy]
          example: Grass
        pokedexNumber:
          type: integer
          example: 1
        imgUrl:
          type: string
          nullable: true
          example: https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    
    Deck:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Starter Deck
        userId:
          type: integer
          example: 1
        createdAt:
          type: string
          format: date-time
        updatedAt: 
          type: string
          format: date-time

    DeckCard:
      type: object
      properties:
        id:
          type: integer
          example: 1
        deckId:
          type: integer
          example: 1
        cardId:
          type: integer
          example: 1   
        
    Error:
      type: object
      properties:
        message:
          type: string
          example: "Message d'erreur"

tags:
  - name: Authentication
    description: Gestion de l'authentification
  - name: Users
    description: Gestion des utilisateurs
